.notesmain {
    position: relative;
    height: 103.5vh;
    background-color: rgb(129, 125, 125);
    overflow-y: scroll;
    width: 65.07vw;
}

.notesmain::-webkit-scrollbar { /* chrome */
    display: none;
}

.notesmain {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.note_title {
    margin-top: 100px;
}

.editNotebook {
    height: 10vh;
    padding: 30px;
}

.editNote {
    height: 60vh;
    padding: 30px;
}

.note_title {
    display: block;
}

label, h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
}

input#notefield, input#notebookfield {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

input#notefield:focus, input#notebookfield:focus {
    background-color: rgb(187, 103, 0);
}

textarea {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    min-width: max-content;
    height: 40vh;
}

textarea:focus {
    background-color: rgb(187, 103, 0);
}
