.deleteNote .formbuttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.deleteNote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deleteNote .formbuttons button {
    max-width: 100px;
}