/* TODO Add site wide styles */
html, body {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

body::-webkit-scrollbar { /* chrome */
    display: none;
}

body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

div.body {
    display: flex;
    float: left;
    min-height: 100vh;
    height: 100%;
}

div.body ul {
    min-height: 100vh;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}


button .textinbutton {
    width: inherit;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    text-align: left;
    text-overflow: ellipsis;
}
