label {
    font-weight: bold;
}

.loginform button {
    max-width: 150px;
}

.loginform {
    max-width: 500px;
}

.loginform .formbuttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}